{% extends "OCWmOCWBundle::anonimo.html.twig" %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/orbit-1.2.3.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/index.css') }}" />
{% endblock %}
{% block title %} Inicio {% endblock %}
{% block content %}
    <div id="slider">
        <img src="{{ asset('images/img_ocws/arquitectura_16.jpg') }}" width="990" height="351"  data-caption="#c1"/>
        <img src="{{ asset('images/img_ocws/fotografia_16.jpg') }}" width="990" height="351" data-caption="#c2"/>
        <img src="{{ asset('images/img_ocws/suelos_16.jpg') }}" width="990" height="351" data-caption="#c3"/>
    </div>
    <span class="orbit-caption" id="c1">
        <span class="titulo">Arquitectura | <a class="ver-ocw" href="#">ver ocw</a></span>
        <span class="contenido"><p>asdasdasdasdsad</p></span>
    </span>
    <span class="orbit-caption" id="c2">
    	<span class="titulo">Fotografía | <a class="ver-ocw" href="#">ver ocw</a></span>
        <span class="contenido"><p>asdasdasdasdasd</p></span>
    </span>
    <span class="orbit-caption" id="c3">
    	<span class="titulo">Suelos | <a class="ver-ocw" href="#">ver ocw</a></span>
        <span class="contenido"><p>asdasdasdasdasd</p></span>
    </span>

    <div>
        <div class="contenido izquierda">
            <h2>¿Qué es <em>OCW Manager</em>?</h2>
            <p>Es una plataforma web de la Universidad de Córdoba que permite a sus docentes crear y publicar sus cursos en formato OCW segun los elementos descriptivos de los OCW publicados por el Institulo Tenológico de Massachusetts (MIT).<br/><br/> OCW Manager le permite al docente la gestión completa de sus cursos de forma colaborativa, facilitando aún más el proceso de producción.</p>
        </div>
        <div class="contenido derecha">
            <h2>¿Qué es un OCW?</h2>
            <p>Un OCW (OpenCourseware) o Curso Virtual Abierto, según lo define el OCWConsortium, es una publicación digital libre y abierta de materiales educativos universitarios y colegios de alta calidad. Éstos materiales son organizados como cursos, y generalmente incluyen los materiales de estudios y herramientas de evaluación así como los contenidos temáticos.<br/><br/> Los OpenCourseWare son libres y de licencia abierta, accesibles cualquiera a través de internet.</p>
        </div>
        <div class="limpiar_float"></div>
    </div>
{% endblock %}

{% block bottombar%}    
    <div class="cont-recientes">
        <div class="recientes">
            <div class="centro">
                <h2>OCWs Recientes</h2>
                <ul>
                    <li>
                        <span class="titulo">Glaciares</span><br/>
                        <img src="{{ asset('images/img_ocws/thumbs/thumbs_ocw_20.jpg') }}" /><br/>
                        <span class="descripcion">
                            Esta es la descripción del curso. Esta es la descripción del curso. Esta es la descripción del curso. Esta es la descripción del curso. Esta es la descripción del curso.
                        </span>
                    </li>
                    <li>
                        <span class="titulo">Suelos</span><br/>
                        <img src="{{ asset('images/img_ocws/thumbs/thumbs_ocw_22.jpg') }}" /><br/>
                        <span class="descripcion">
                            Esta es la descripción del curso. Esta es la descripción del curso. Esta es la descripción del curso. Esta es la descripción del curso. Esta es la descripción del curso.
                        </span>
                    </li>
                    <li>
                        <span class="titulo">Sistemas Operativos</span><br/>
                        <img src="{{ asset('images/img_ocws/thumbs/thumbs_ocw_24.jpg') }}" /><br/>
                        <span class="descripcion">
                            Esta es la descripción del curso. Esta es la descripción del curso. Esta es la descripción del curso. Esta es la descripción del curso. Esta es la descripción del curso.
                        </span>
                    </li>
                    <li>
                        <span class="titulo">Cultivo de peces</span><br/>
                        <img src="{{ asset('images/img_ocws/thumbs/thumbs_ocw_26.jpg') }}" /><br/>
                        <span class="descripcion">
                            Esta es la descripción del curso. Esta es la descripción del curso. Esta es la descripción del curso. Esta es la descripción del curso. Esta es la descripción del curso.
                        </span>
                    </li>
                    <li>
                        <span class="titulo">Glaciares</span><br/>
                        <img src="{{ asset('images/img_ocws/thumbs/thumbs_ocw_28.jpg') }}" /><br/>
                        <p class="descripcion">
                            Esta es la descripción del curso. Esta es la descripción del curso. Esta es la descripción del curso. Esta es la descripción del curso. Esta es la descripción del curso.
                        </p>
                    </li>
                    <div class="limpiar_float"></div>
                </ul>
            </div>
        </div>        
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/jquery.orbit-1.2.3.min.js') }}"></script>
    <script type="text/javascript">
    $(window).load(function() {
        $("#slider").orbit({
            animation: "fade",
            bullets: true,
            directionalNav: false,
            timer: true,
            advanceSpeed: 5000,
            animationSpeed: 1200,
            captionAnimation: "fade",
            captionAnimationSpeed: 1000 
        });
    });
    </script>
{% endblock %}
